@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.delanihead{
    background-image: url(images/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;  
    /* height: 700px; */
}
#logo-img{
    padding-bottom: 10%;
    padding-top: 11%;  
}
 .mouseclick{
padding-top: 20px;
padding-bottom: 30px;
} 
.delanihead h1{
padding-bottom: 30px;
color: #fff;
font-family: 'Gabriela', serif;
}
.delanihead h4{
    font-size: 24px;
    color: #fff;
    padding-bottom: 15px;
}
.delanihead p{
    color: #fff;
    font-size: 18px;
    font-family: 'Copse', serif;
}
.mouse-click{
    padding-top: 10%;
}
.about-us{
    text-align: center;
    font-family: 'Copse', serif;
}
.about-us h1{
    padding-top: 5%;
    padding-bottom: 10px;

}
.about-us p{
line-break: 25px;
font-size: 18px;
}
.services{
    background-image: url(images/s_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-family: 'Copse', serif;
}

.services h1{
    padding-top: 8%;
}
.services p{
    line-height: 30px;
    padding-bottom: 10%;
    font-size: 18px;
}
.what-we-do{
    font-family: 'Copse', serif;
    text-align: center;
}
.head-to-do h1{
    padding-top: 2%;
    padding-bottom: 2%;
}
.col-md-3{
    margin-right: 1px;
}
#prod-management, #dev-sect, #design-sect{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
}
.portfolio-section{
    margin-left: 18%;
    margin-right: 16%;
}
.portfolio-section{
    font-family: 'Copse', serif;;
}
.card-body{
    cursor: pointer;
}
.contact-us{
    background-image: url(images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.contact-us h3{
    text-align: center;
    font-family: 'Gabriela', serif;
    padding-bottom: 22px;
    padding-top: 35px;
}
footer p{
    padding-top: 3%;

}
.wrk1,.wrk2,.wrk3,.wrk4,.wrk5,.wrk6,.wrk7,.wrk8{
    display: none;
    background-color: aquamarine;
    position: absolute;
    z-index: 1;
    height: 200px;
    top: 45px;
    background-color: transparent;
    border: whitesmoke 2px solid;

}
input{
    width:60%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: #fff solid 1px;
    margin-bottom: 15px;
    margin-left: 20%;
    
}
textarea{
    background-color: transparent;
    margin-left: 15%;
    resize: none;
    width: 80%;
    border: #fff 1px solid;
    font-weight: 700;
}
.submit{
    padding: 15px 25px;
    border: #fff solid 1px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Gabriela', serif;
    border-radius: 20px;
    font-weight: 700;
    margin-bottom: 3%;
    margin-top: 2%;
}






































footer{
    text-align: center;
    padding-top: 30px;
    font-family:'Copse', serif;
}